
//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 35px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 15px;
				font-weight: 600;
				color:  $white;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 12px;
				}
	
				&:hover {
					color: $theme-color-2 !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 6px solid $theme-color;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 15px;
						font-weight: 600;
						color: $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
						width: 100%;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 500px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 70%;
								gap: 10px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
	
								.theme-btn {
									padding: 14px 20px;
									color: $white !important;
									width: initial;
									font-size: 16px;
									text-align: center;
									border-radius: 0px !important;
									line-height: initial;

									&::before,&::after {
										display: none;
									}
	
									&:hover {
										background: $header-color;
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 18px;
                            font-weight: 600;
                            font-family: $body-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color-2;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 40px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}
		.search-icon {
			font-size: 24px;
		}

		&.style-2 {
			.search-icon {
				color: $white;
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    .main-menu {
        border-radius: 78px;
        background: rgba(255, 255, 255, 0.19);
        padding-left: 35px;
        padding-right: 35px;

        ul {
            li {
                a {
                    padding: 16px 0;
                }
            }
        }
    }

    .header-button {
        @include breakpoint (max-xl){
            display: none;
        }
    }

    .contact-items {
        @include flex;
        gap: 15px;

        @include breakpoint (max-xxxl){
            display: none;
        }

        .icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background-color: $theme-color;
            text-align: center;
            color: $white;
        }

        .content {
            span {
                color: rgba(255, 255, 255, 0.67);
                font-size: 14px;
                display: inline-block;
                margin-bottom: 2px;
            }

            h6 {
                font-size: 18px;
                font-weight: 700;
                font-family: $body-font;
                
                a {
                    color: $white;
                }
            }
        }
    }

    .sidebar__toggle {
        color: $white;
    }

	&.header-2 {
		position: static;

		.header-main {
            .main-menu {
                padding-left: initial;
                padding-right: initial;

                ul {
        
                    li {
                    a {
                        color:  $header-color;
            
                        &:hover {
                            color: $theme-color !important;
                        }
            
                    }
                    .submenu {
                   
        
                        li {
                      
                            a {
                             
                                color: $header-color;
                            }
                           
                        }
                       
                    }
        
                   
                    
                    &:hover {
                        >a {
                            color:  $theme-color;
        
                            &::after {
                                color:  $theme-color;
                            }
                        }
                      }
                    }
                }
            }
        
            .sidebar__toggle {
                color: $header-color;
            }
        }

		.contact-items {
            .content {
                span {
                    color: $text-color;
                }
    
                h6 {
                    a {
                        color: $header-color;
                    }
                }
            }
        }
	}
}


//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &.header-1 {
        .header-main {

			.logo {
				.header-logo-3 {
					display: none;
				}
			}

			.header-right {

				.search-icon {
					color: $header-color;
				}
			}
            .main-menu {
                padding-left: initial;
                padding-right: initial;

                ul {
        
                    li {
                    a {
                        color:  $header-color;
            
                        &:hover {
                            color: $theme-color !important;
                        }
            
                    }
                    .submenu {
                   
        
                        li {
                      
                            a {
                             
                                color: $header-color;
                            }
                           
                        }
                       
                    }
        
                   
                    
                    &:hover {
                        >a {
                            color:  $theme-color;
        
                            &::after {
                                color:  $theme-color;
                            }
                        }
                      }
                    }
                }
            }
        
            .sidebar__toggle {
                color: $header-color;
            }
        }

        .contact-items {
            .content {
                span {
                    color: $text-color;
                }
    
                h6 {
                    a {
                        color: $header-color;
                    }
                }
            }
        }

        .header-logo {
            display: none !important;
        }

        .header-logo-2 {
            display: block !important;
        }
    }
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: $text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: $text-color;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid $border-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


.breadcrumb-wrapper {
    position: relative;


    .right-shape {
        position: absolute;
        right: 20px;
        top: -350px;

		@include breakpoint (max-xl) {
			display: none;
		}
    }

    .bottom-shape {
        position: absolute;
        right: -80px;
        bottom: -110px;

		@include breakpoint (max-xl) {
			display: none;
		}
    }

    &::before {
        @include before;
        background: linear-gradient(90deg, rgba(2, 8, 66, 0.92) 0%, rgba(2, 8, 66, 0.00) 100%);
    }

    .page-heading {
        padding: 120px 0;
        position: relative;

        @include breakpoint(max-xl){
            padding: 100px 0;
        }
    
        @include breakpoint(max-lg){
            padding: 80px 0;
        }

		@include breakpoint (max-md) {
            text-align: center;
        }

        h2 {
            color: $white;
            margin-bottom: 20px;
        }

        .breadcrumb-list {
            @include flex;
            gap: 15px;

			@include breakpoint (max-md) {
                justify-content: center;
            }

            li {
                color: $white;
                font-weight: 500;

                i {
                    color: $white;
                }

                a {
                    color: $white;
                }
            }
        }
    }
}


.error-wrapper {

    .error-items {

        h2 {
            font-size: 66px;
            margin-bottom: 30px;

            @include breakpoint(max-xl) {
                font-size: 60px;
            }

            @include breakpoint(max-lg) {
                font-size: 55px;
            }

            @include breakpoint(max-md) {
                font-size: 45px;
            }

            @include breakpoint(max-sm) {
                font-size: 35px;
            }
        }

        p {
            margin-bottom: 30px;
        }
    }

    .error-image {
        img {
            @include imgw;
        }
    }
}