.hero-1 {
    position: relative;
    padding: 200px 0 320px;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    -webkit-transition: all 8s ease-out 0s;
    -moz-transition: all 8s ease-out 0s;
    -ms-transition: all 8s ease-out 0s;
    -o-transition: all 8s ease-out 0s;
    transition: all 8s ease-out 0s;

    &::before {
        @include before;
        background-image: url(../../assets/img/hero/overlay.png);
    }

    @include breakpoint(max-xl) {
        padding: 180px 0 200px;
    }

    @include breakpoint(max-lg) {
        padding: 150px 0 170px;
    }

    @include breakpoint(max-md) {
        padding: 140px 0 140px;
    }

    @include breakpoint(max-sm) {
        padding: 120px 0 120px;
    }

    .circle-shape {
        position: absolute;
        top: 14%;
        left: -24%;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .dot-circle {
        position: absolute;
        right: -190px;
        bottom: -125px;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .hero-content {
        position: relative;
        h1 {
            color: $white;
            margin-bottom: 30px;
        }
        p {
            color: $white;
        }
        .theme-btn {
            margin-top: 40px;
        }
    }
}

.hero-section {
    position: relative;
    .array-button {
        display: grid;
        gap: 20px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        right: 55px;
        z-index: 99;

        @include breakpoint (max-xl){
            display: none;
        }

        .array-next,.array-prev {
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            border-radius: 50%;
            background: linear-gradient(106deg, #2AD3F8 10.42%, #933CFF 98.32%);
            color: $white;
            @include transition;
        }

        .array-next {
            &:hover {
                background: $white;
            color: $header-color;
            }
        }

        .array-prev {
            background: $white;
            color: $header-color;

            &:hover {
                background: linear-gradient(106deg, #2AD3F8 10.42%, #933CFF 98.32%);
                color: $white;
            }
        }
    }
}

.hero-2 {
    position: relative;
    padding: 100px 0;

    .shape {
        position: absolute;
        left: 50%;
    }

    .hero-content {
        @include breakpoint (max-md){
           text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 66px;

            @include breakpoint (max-xl){
                font-size: 60px;
            }

            @include breakpoint (max-lg){
                font-size: 50px;
            }

            @include breakpoint (max-md){
                font-size: 42px;
            }

            @include breakpoint (max-sm){
                font-size: 32px;
                line-height: 120%;
            }
        }

        .hero-button {
            @include flex;
            gap: 30px;
            margin-top: 40px;
            flex-wrap: wrap;

            @include breakpoint (max-xl){
              flex-wrap: wrap;
            }

            @include breakpoint (max-md){
                justify-content: center;
                margin-top: 30px;
            }

            .video-btn {
                width: 58px;
                height: 58px;
                line-height: 58px;
                text-align: center;
                border-radius: 100px;
                background-color: $white;
                color: $theme-color;
                font-size: 18px;
                display: inline-block;
            }

            .text {
                font-weight: 700;
                color: $header-color;
            }
        }

        .rating {
            @include flex;
            gap: 30px;
            margin-top: 110px;
        }

        .hero-client {
            @include flex;
            gap: 20px;
            margin-top: 20px;

            p {
                font-weight: 600;
                color: $header-color;
            }
        }
    }

    .hero-image {
        margin-bottom: -100px;

        @include breakpoint (max-xxxl){
            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xl){
            margin-bottom: 0;

            img {
                @include imgw;
            }
        }
        
        @include breakpoint (max-md){
           margin: 0 auto;
           text-align: center;
        }
    }
}